<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>cjmalloy-central</id>
          <name>libs-release</name>
          <url>http://cjmalloy.com/m2/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://cjmalloy.com/m2/libs-snapshot</url>
        </repository>

        <repository>
          <id>jboss-thirdparty-releases</id>
          <name>JBoss Thirdparty Releases</name>
          <url>https://repository.jboss.org/nexus/content/repositories/thirdparty-releases/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>cjmalloy-central</id>
          <name>libs-release</name>
          <url>http://cjmalloy.com/m2/libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-release</name>
          <url>http://cjmalloy.com/m2/libs-release</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
